<%- include("../../views/partials/user/header") %>

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="./img/shop01.png" alt="Laptop Collection">
                        </div>
                        <div class="shop-body">
                            <h3>Laptop<br>Collection</h3>
                            <a href="#" class="cta-btn">Shop now <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="./img/shop03.png" alt="Accessories Collection">
                        </div>
                        <div class="shop-body">
                            <h3>Accessories<br>Collection</h3>
                            <a href="#" class="cta-btn">Shop now <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="./img/shop02.png" alt="Cameras Collection">
                        </div>
                        <div class="shop-body">
                            <h3>Cameras<br>Collection</h3>
                            <a href="#" class="cta-btn">Shop now <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /SECTION -->

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">New Products</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
                                <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
                                <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
                                <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row product__filter">
                        <% for (let i=0; i < products.length; i++) { %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product">
                                    <a href="/productDetails/<%= products[i]._id %>">
                                        <div class="product-img">
                                            <img src="/uploads/re-image/<%= products[i].productImage[0] %>"
                                                alt="<%= products[i].productName %>">
                                        </div>
                                    </a>
                                    <div class="product-body">
                                        <h3 class="product-name">
                                            <a href="/productDetails/<%= products[i]._id %>">
                                                <%= products[i].productName %>
                                            </a>
                                        </h3>
                                        <h4 class="product-price">₹ <%= products[i].salePrice %>
                                            <% if (products[i].regularPrice && products[i].regularPrice > products[i].salePrice) { %>
                                                <del class="product-old-price">₹ <%= products[i].regularPrice %></del>
                                            <% } %>
                                        </h4>
                                        <div class="product-rating">
                                            <% for (let j=0; j < 5; j++) { %>
                                                <i class="fa fa-star<%= j < products[i].rating ? '' : '-o' %>"></i>
                                            <% } %>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"
                                                onclick="window.location.href='/addToWishlist?id=<%= products[i]._id %>'">
                                                <i class="fa-solid fa-heart"></i><span class="tooltipp">add to wishlist</span>
                                            </button>
                                            <button class="quick-view">
                                                <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"
                                            onclick="window.location.href='/addToCart?id=<%= products[i]._id %>'">
                                            <i class="fa fa-shopping-cart"></i> add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /SECTION -->

    <!-- HOT DEAL SECTION -->
    <div id="hot-deal" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-deal">
                        <ul class="hot-deal-countdown">
                            <li>
                                <div>
                                    <h3>02</h3><span>Days</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>10</h3><span>Hours</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>34</h3><span>Mins</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>60</h3><span>Secs</span>
                                </div>
                            </li>
                        </ul>
                        <h2 class="text-uppercase">Hot Deal This Week</h2>
                        <p>New Collection Up to 50% OFF</p>
                        <a class="primary-btn cta-btn" href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /HOT DEAL SECTION -->

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Top Selling</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
                                <li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
                                <li><a data-toggle="tab" href="#tab2">Cameras</a></li>
                                <li><a data-toggle="tab" href="#tab2">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row product__filter">
                        <% for (let i=0; i < products.length; i++) { %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product">
                                    <a href="/productDetails/<%= products[i]._id %>">
                                        <div class="product-img">
                                            <img src="/uploads/re-image/<%= products[i].productImage[0] %>"
                                                alt="<%= products[i].productName %>">
                                        </div>
                                    </a>
                                    <div class="product-body">
                                        <h3 class="product-name">
                                            <a href="/productDetails/<%= products[i]._id %>">
                                                <%= products[i].productName %>
                                            </a>
                                        </h3>
                                        <h4 class="product-price">₹ <%= products[i].salePrice %>
                                            <% if (products[i].regularPrice && products[i].regularPrice > products[i].salePrice) { %>
                                                <del class="product-old-price">₹ <%= products[i].regularPrice %></del>
                                            <% } %>
                                        </h4>
                                        <div class="product-rating">
                                            <% for (let j=0; j < 5; j++) { %>
                                                <i class="fa fa-star<%= j < products[i].rating ? '' : '-o' %>"></i>
                                            <% } %>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"
                                                onclick="window.location.href='/addToWishlist?id=<%= products[i]._id %>'">
                                                <i class="fa-solid fa-heart"></i><span class="tooltipp">add to wishlist</span>
                                            </button>
                                            <button class="quick-view">
                                                <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"
                                            onclick="window.location.href='/addToCart?id=<%= products[i]._id %>'">
                                            <i class="fa fa-shopping-cart"></i> add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /SECTION -->
    <br>

    <%- include("../../views/partials/user/footer") %>

    <script>
        // JavaScript to handle dropdown functionality
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownTrigger = document.getElementById('dropdown-trigger');
            const dropdownMenu = document.getElementById('dropdown-menu');
            const dropdownChevron = document.getElementById('dropdown-chevron');
            const mobileMenuBtn = document.getElementById('mobile-menu-btn');
            const mainNav = document.getElementById('main-nav');

            // Toggle dropdown on click
            if (dropdownTrigger && dropdownMenu) {
                dropdownTrigger.addEventListener('click', function (e) {
                    e.stopPropagation();
                    dropdownMenu.classList.toggle('show');
                    dropdownChevron.style.transform = dropdownMenu.classList.contains('show') ? 'rotate(180deg)' : '';
                });

                // Close dropdown when clicking outside
                document.addEventListener('click', function (e) {
                    if (!dropdownTrigger.contains(e.target) && !dropdownMenu.contains(e.target)) {
                        dropdownMenu.classList.remove('show');
                        dropdownChevron.style.transform = '';
                    }
                });
            }

            // Mobile menu toggle
            if (mobileMenuBtn && mainNav) {
                mobileMenuBtn.addEventListener('click', function () {
                    mainNav.classList.toggle('active');
                });
            }
        });
    </script>
</body>

</html>