<%- include("../../views/partials/user/header") %>

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="./img/shop01.png" alt="Laptop Collection">
                        </div>
                        <div class="shop-body">
                            <h3>Laptop<br>Collection</h3>
                            <a href="/products?category=laptops" class="cta-btn">Shop now <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="./img/shop03.png" alt="Accessories Collection">
                        </div>
                        <div class="shop-body">
                            <h3>Accessories<br>Collection</h3>
                            <a href="/products?category=accessories" class="cta-btn">Shop now <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="./img/shop02.png" alt="Cameras Collection">
                        </div>
                        <div class="shop-body">
                            <h3>Cameras<br>Collection</h3>
                            <a href="/products?category=cameras" class="cta-btn">Shop now <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /SECTION -->

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">New Products</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
                                <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
                                <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
                                <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row product__filter">
                        <% if (products && products.length > 0) { %>
                            <% for (let i=0; i < products.length; i++) { %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product">
                                        <a href="/productDetails/<%= products[i]._id %>">
                                            <div class="product-img">
                                                <% if (products[i].productImage && products[i].productImage.length > 0 && products[i].productImage[0].url) { %>
                                                    <img src="<%= products[i].productImage[0].url %>"
                                                        alt="<%= products[i].productName %>"
                                                        onerror="this.src='/img/placeholder.jpg'">
                                                <% } else { %>
                                                    <img src="/img/placeholder.jpg"
                                                        alt="<%= products[i].productName %>">
                                                <% } %>
                                            </div>
                                        </a>
                                        <div class="product-body">
                                            <h3 class="product-name">
                                                <a href="/productDetails/<%= products[i]._id %>">
                                                    <%= products[i].productName %>
                                                </a>
                                            </h3>
                                            <h4 class="product-price">₹<%= products[i].salePrice.toLocaleString() %>
                                                <% if (products[i].regularPrice && products[i].regularPrice > products[i].salePrice) { %>
                                                    <del class="product-old-price">₹<%= products[i].regularPrice.toLocaleString() %></del>
                                                <% } %>
                                            </h4>
                                            <div class="product-rating">
                                                <% const rating = products[i].averageRating || products[i].rating || 0; %>
                                                <% for (let j=0; j < 5; j++) { %>
                                                    <i class="fa fa-star<%= j < rating ? '' : '-o' %> <%= j < rating ? 'filled' : '' %>"></i>
                                                <% } %>
                                                <span class="rating-count">(<%= products[i].reviewCount || 0 %>)</span>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist" onclick="addToWishlist('<%= products[i]._id %>')">
                                                    <i class="fa-solid fa-heart"></i><span class="tooltipp">add to wishlist</span>
                                                </button>
                                                <button class="quick-view" onclick="quickView('<%= products[i]._id %>')">
                                                    <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn" onclick="addToCart('<%= products[i]._id %>')">
                                                <i class="fa fa-shopping-cart"></i> add to cart
                                            </button>
                                        </div>
                                        <% if (products[i].productOffer && products[i].productOffer > 0) { %>
                                            <div class="product-badge">
                                                <span class="badge-offer">-<%= products[i].productOffer %>% OFF</span>
                                            </div>
                                        <% } %>
                                        <% if (products[i].status === 'Out of Stock') { %>
                                            <div class="out-of-stock-overlay">
                                                <span>Out of Stock</span>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="col-12 text-center">
                                <div class="no-products">
                                    <i class="fas fa-box-open fa-3x"></i>
                                    <h4>No products available</h4>
                                    <p>Check back later for new arrivals!</p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /SECTION -->

    <!-- HOT DEAL SECTION -->
    <div id="hot-deal" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-deal">
                        <ul class="hot-deal-countdown" id="countdown-timer">
                            <li>
                                <div>
                                    <h3 id="days">02</h3><span>Days</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3 id="hours">10</h3><span>Hours</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3 id="minutes">34</h3><span>Mins</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3 id="seconds">60</h3><span>Secs</span>
                                </div>
                            </li>
                        </ul>
                        <h2 class="text-uppercase">Hot Deal This Week</h2>
                        <p>New Collection Up to 50% OFF</p>
                        <a class="primary-btn cta-btn" href="/products?sort=discount">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Top Selling</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
                            <li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
                            <li><a data-toggle="tab" href="#tab2">Cameras</a></li>
                            <li><a data-toggle="tab" href="#tab2">Accessories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row product__filter">
                    <% if (products && products.length > 0) { %>
                        <% for (let i=0; i < Math.min(products.length, 8); i++) { %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product">
                                    <a href="/productDetails/<%= products[i]._id %>">
                                        <div class="product-img">
                                            <% if (products[i].productImage && products[i].productImage.length > 0 && products[i].productImage[0].url) { %>
                                                <img src="<%= products[i].productImage[0].url %>"
                                                    alt="<%= products[i].productName %>"
                                                    onerror="this.src='/img/placeholder.jpg'">
                                            <% } else { %>
                                                <img src="/img/placeholder.jpg"
                                                    alt="<%= products[i].productName %>">
                                            <% } %>
                                        </div>
                                    </a>
                                    <div class="product-body">
                                        <h3 class="product-name">
                                            <a href="/productDetails/<%= products[i]._id %>">
                                                <%= products[i].productName %>
                                            </a>
                                        </h3>
                                        <h4 class="product-price">₹<%= products[i].salePrice.toLocaleString() %>
                                            <% if (products[i].regularPrice && products[i].regularPrice > products[i].salePrice) { %>
                                                <del class="product-old-price">₹<%= products[i].regularPrice.toLocaleString() %></del>
                                            <% } %>
                                        </h4>
                                        <div class="product-rating">
                                            <% const rating = products[i].averageRating || products[i].rating || 0; %>
                                            <% for (let j=0; j < 5; j++) { %>
                                                <i class="fa fa-star<%= j < rating ? '' : '-o' %> <%= j < rating ? 'filled' : '' %>"></i>
                                            <% } %>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist" onclick="addToWishlist('<%= products[i]._id %>')">
                                                <i class="fa-solid fa-heart"></i><span class="tooltipp">add to wishlist</span>
                                            </button>
                                            <button class="quick-view" onclick="quickView('<%= products[i]._id %>')">
                                                <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn" onclick="addToCart('<%= products[i]._id %>')">
                                            <i class="fa fa-shopping-cart"></i> add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="col-12 text-center">
                            <div class="no-products">
                                <i class="fas fa-chart-line fa-3x"></i>
                                <h4>No products available</h4>
                                <p>Check back later for new arrivals!</p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /SECTION -->
<br>
    <%- include("../../views/partials/user/footer") %>

    <script>
        // JavaScript to handle dropdown functionality
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownTrigger = document.getElementById('dropdown-trigger');
            const dropdownMenu = document.getElementById('dropdown-menu');
            const dropdownChevron = document.getElementById('dropdown-chevron');
            const mobileMenuBtn = document.getElementById('mobile-menu-btn');
            const mainNav = document.getElementById('main-nav');

            // Toggle dropdown on click
            if (dropdownTrigger && dropdownMenu) {
                dropdownTrigger.addEventListener('click', function (e) {
                    e.stopPropagation();
                    dropdownMenu.classList.toggle('show');
                    dropdownChevron.style.transform = dropdownMenu.classList.contains('show') ? 'rotate(180deg)' : '';
                });

                // Close dropdown when clicking outside
                document.addEventListener('click', function (e) {
                    if (!dropdownTrigger.contains(e.target) && !dropdownMenu.contains(e.target)) {
                        dropdownMenu.classList.remove('show');
                        dropdownChevron.style.transform = '';
                    }
                });
            }

            // Mobile menu toggle
            if (mobileMenuBtn && mainNav) {
                mobileMenuBtn.addEventListener('click', function () {
                    mainNav.classList.toggle('active');
                });
            }

            // Initialize countdown timer
            initializeCountdown();

            // Newsletter form submission
            const newsletterForm = document.getElementById('newsletter-form');
            if (newsletterForm) {
                newsletterForm.addEventListener('submit', function(e) {
                    e.preventDefault();
                    const email = this.querySelector('input[type="email"]').value;
                    subscribeToNewsletter(email);
                });
            }
        });

        // Countdown timer function
        function initializeCountdown() {
            const countdownDate = new Date();
            countdownDate.setDate(countdownDate.getDate() + 7); // 7 days from now

            function updateCountdown() {
                const now = new Date().getTime();
                const distance = countdownDate - now;

                if (distance < 0) {
                    // Countdown finished
                    document.getElementById('countdown-timer').innerHTML = '<li><div><h3>Sale Ended!</h3></div></li>';
                    return;
                }

                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById('days').textContent = days.toString().padStart(2, '0');
                document.getElementById('hours').textContent = hours.toString().padStart(2, '0');
                document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
                document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');
            }

            updateCountdown();
            setInterval(updateCountdown, 1000);
        }

        // Add to cart function
        function addToCart(productId) {
            fetch('/addToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId: productId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Show success message
                    showNotification('Product added to cart!', 'success');
                    // Update cart count
                    updateCartCount(data.cartCount);
                } else {
                    showNotification(data.message || 'Failed to add to cart', 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showNotification('An error occurred', 'error');
            });
        }

        // Add to wishlist function
        function addToWishlist(productId) {
            fetch('/addToWishlist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId: productId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showNotification('Product added to wishlist!', 'success');
                } else {
                    showNotification(data.message || 'Failed to add to wishlist', 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showNotification('An error occurred', 'error');
            });
        }

        // Quick view function
        function quickView(productId) {
            // Implement quick view modal functionality
            fetch(`/api/products/${productId}/quickview`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showQuickViewModal(data.product);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showNotification('Failed to load product details', 'error');
            });
        }

        // Newsletter subscription
        function subscribeToNewsletter(email) {
            fetch('/api/newsletter/subscribe', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: email })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showNotification('Successfully subscribed to newsletter!', 'success');
                    document.getElementById('newsletter-form').reset();
                } else {
                    showNotification(data.message || 'Subscription failed', 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showNotification('Subscription failed', 'error');
            });
        }

        // Notification function
        function showNotification(message, type) {
            // Create notification element
            const notification = document.createElement('div');
            notification.className = `notification ${type}`;
            notification.innerHTML = `
                <span>${message}</span>
                <button onclick="this.parentElement.remove()">&times;</button>
            `;

            // Add styles
            notification.style.cssText = `
                position: fixed;
                top: 20px;
                right: 20px;
                padding: 15px 20px;
                background: ${type === 'success' ? '#4CAF50' : '#f44336'};
                color: white;
                border-radius: 5px;
                z-index: 1000;
                display: flex;
                align-items: center;
                gap: 10px;
                animation: slideIn 0.3s ease;
            `;

            document.body.appendChild(notification);

            // Remove notification after 3 seconds
            setTimeout(() => {
                if (notification.parentElement) {
                    notification.remove();
                }
            }, 3000);
        }

        // Update cart count
        function updateCartCount(count) {
            const cartCount = document.querySelector('.cart-count');
            if (cartCount) {
                cartCount.textContent = count;
                cartCount.style.display = count > 0 ? 'flex' : 'none';
            }
        }

        // Quick view modal (basic implementation)
        function showQuickViewModal(product) {
            // Implement a modal showing product details
            console.log('Quick view for product:', product);
            // You can use a library like SweetAlert2 or create a custom modal
        }
    </script>

    <style>
        .product-rating .filled {
            color: #ffc107;
        }
        .rating-count {
            margin-left: 5px;
            color: #666;
            font-size: 12px;
        }
        .product-badge {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .badge-offer, .badge-bestseller {
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 12px;
            font-weight: bold;
            color: white;
        }
        .badge-offer {
            background: #e74c3c;
        }
        .badge-bestseller {
            background: #27ae60;
        }
        .out-of-stock-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            font-size: 18px;
        }
        .no-products {
            padding: 40px;
            text-align: center;
            color: #666;
        }
        .no-products i {
            margin-bottom: 20px;
            color: #ddd;
        }
        .newsletter {
            text-align: center;
            padding: 40px 0;
        }
        .newsletter-form {
            display: flex;
            max-width: 400px;
            margin: 20px auto;
        }
        .newsletter-form input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px 0 0 4px;
        }
        .newsletter-form button {
            padding: 10px 20px;
            background: #D10024;
            color: white;
            border: none;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
        }
        @keyframes slideIn {
            from { transform: translateX(100%); opacity: 0; }
            to { transform: translateX(0); opacity: 1; }
        }
    </style>
</body>
</html>